<h2>Центр печатных технологий</h2>
<carousel interval="3000" class="jumbotron">
  <slide><img src="https://fartuk.blob.core.windows.net/content/panorama.jpg"/></slide>
  <slide><img src="https://fartuk.blob.core.windows.net/content/poster.jpg"/></slide>
  <slide><img src="https://fartuk.blob.core.windows.net/content/fartuk1.jpg"/></slide>
</carousel>
<p class="lead">
  Практически любой предмет в интерьере способен стать авторским и эксплозивным! Эпоха стандартных квартир, типовой мебели и интерьера, канула в Лету. 
  Согласитесь, при современном решении вопроса обустройства дома или офиса ставка делается, прежде всего на уникальность и индивидуальный подход, 
  поэтому акутальный дизайн нельзя представить без ярких красок, необычных фактур и креативного подхода. 
  Вам нужны новые идеи , положительные эмоции и неожиданные решения? Вы хотите получить больше клиентов? В этом всём мы можем вам помочь. 
  Мы печатаем цветные изображения фото-качества напрямую на стекле, пластике, дереве, холсте и других материалах. 
  Звоните сейчас <strong>(383) 255-32-36 </strong>или закажите обратный звонок. Так же можете <a href="mailto:eugene@printingtc.ru">написать мне</a>, я вам непременно отвечу.
</p>