
<h2>Контакты</h2>
<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-12">
    <address>
      <strong>ООО "ЦПТ"</strong><br/>
      E-Mail:<strong><a href="mailto:2874575@mail.ru">2874575@mail.ru</a></strong><br/>
      <abbr title="Телефон">Т:</abbr>(383) 287-45-75, 8-913-006-45-75<br/>
      Адрес: 630091, г. Новосибирск,<br/>
      Красный проспект 77б, офис 516<br/>
      </address>
  </div>
  <div id="map" class="col-md-8 col-lg-8 col-sm-12">
    <map>карта загружается</map>    
  </div>
</div>
